.headline-pages {
  font-size: $text2-75;
  text-shadow: 5px 2px map-get($map: $colorMap, $key: "purple");
  color: map-get($map: $colorMap, $key: "white");
  border-left: 3px solid map-get($map: $colorMap, $key: "magenta");
  border-right: 3px solid map-get($map: $colorMap, $key: "neonCyan");
  background: map-get($map: $colorMap, $key: "lightBlack");
  text-align: center;
  padding: 5px 0;
  text-decoration: underline;
  margin-bottom: 75px;
  text-transform: uppercase;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.article-one,
.article-two {
  border-radius: 20px;
  border: 1.5px solid map-get($map: $colorMap, $key: "borderContainer");
  box-shadow: -1px 1px 15px map-get($map: $colorMap, $key: "borderContainer");
}

.sub-headline {
  width: 100%;
  font-size: $text2;
  text-shadow: 5px 2px map-get($map: $colorMap, $key: "purple");
  border-left: 5px solid map-get($map: $colorMap, $key: "magenta");
  border-right: 5px solid map-get($map: $colorMap, $key: "cyan");
  background: map-get($map: $colorMap, $key: "lightBlack");
  padding: 25px;
  margin: auto;
  border-radius: 20px 20px 0 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

// ---------------------------------- BREAKPOINT ---------------------------------- //

@media screen and (min-width: 450px) {
  .sub-headline {
    font-size: $text3;
  }
}

@media screen and (min-width: 768px) {
  .headline-pages {
    font-size: $text4;
  }
}

@media screen and (min-width: 1024px) {
  .headline-pages {
    font-size: $text6;
  }
}
