// ---------------------------FONTS SIZE
$text0-5: 0.5rem;
$text0-75: 0.75rem;
$text1: 1rem;
$text1-25: 1.25rem;
$text1-5: 1.5rem;
$text2: 2rem;
$text2-25: 2.25rem;
$text2-5: 2.5rem;
$text2-75: 2.75rem;
$text3: 3rem;
$text3-5: 3.5rem;
$text4: 4rem;
$text4-5: 4.5rem;
$text4-25: 4.25rem;
$text5: 5rem;
$text5-5: 5.5rem;
$text6: 6rem;

// ----------------MAPS
$colorMap: (
  "magenta": #af0e7c,
  "neonCyan": #0398b3,
  "cyan": #028299,
  "sliderCyan": #40d3dc,
  "blue": #08f,
  "purple": #7d50b9,
  "text": #cdcdcd,
  "borderContainer": #a7a7a7,
  "borderWheat": #f5deb3,
  "darkBlack": #111010,
  "lightBlack": #01010180,
  "white": #faf4f4,
);
