// ----------------MIXINS

@mixin display-f($direction, $flow, $justify, $align) {
  display: flex;
  flex-flow: $direction $flow;
  justify-content: $justify;
  align-items: $align;
}
// @include display-f(row, wrap, space-around, center);
