// ---------------------------FONTS SIZE

$textXsmall: 1.5rem;
$textSmall: 2rem;
$textMedium: 3rem;
$textLarge: 5rem;

// ----------------MAPS
$colorPalette: (
  "magenta": #af0e7c,
  "neonCyan": #0398b3,
  "cyan": #028299,
  "sliderCyan": #40d3dc,
  "blue": #08f,
  "purple": #7d50b9,
  "text": #cdcdcd,
  "borderContainer": #a7a7a7,
  "borderWheat": #f5deb3,
  "darkBlack": #111010,
  "lightBlack": #01010180,
  "white": #faf4f4,
);
