@import "./styles/_Fonts.scss";
@import "./styles/_Mixins.scss";
@import "./styles/_Variables.scss";
@import "./styles/_Commons.scss";
@import "./styles/_HeaderContainer.scss";
@import "./styles/_NavBarContainer.scss";
@import "./styles/_ArticleOne.scss";
@import "./styles/_ArticleTwo.scss";
@import "./styles/_FooterContainer.scss";
@import "./styles/_MenuContainer.scss";
@import "./styles/_EventsContainer.scss";

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

body {
  min-height: 100dvh;
  scroll-behavior: smooth;
  font-size: 62.5%;
  color: map-get($map: $colorMap, $key: "white");
  font-family: $fontDeLaGothic;
  font-weight: normal;

  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("/images/background.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
